<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Add record</div>
    <div class="panel-body">
      <form class="form-horizontal" (ngSubmit)="add()" #recordForm="ngForm">
        <div class="form-group">
          <label for="catnum" class="col-sm-2 control-label">Catalog number:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required name="catnum" [(ngModel)]="record.catnum" #catnum="ngModel">
            <div [hidden]="catnum.valid"
                 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              Catalog number is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required name="title" [(ngModel)]="record.title" #title="ngModel">
            <div [hidden]="title.valid"
                 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              Title is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="artist" class="col-sm-2 control-label">Artist:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required name="artist" [(ngModel)]="record.artist" #artist="ngModel">
            <div [hidden]="artist.valid"
                 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              Artist is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="year" class="col-sm-2 control-label">Release year:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" required name="year" [(ngModel)]="record.year" #year="ngModel">
            <div [hidden]="year.valid"
                 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              Year is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="label" class="col-sm-2 control-label">Label:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required name="label" [(ngModel)]="record.label" #label="ngModel">
            <div [hidden]="label.valid"
                 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              Label is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="genre" class="col-sm-2 control-label">Genre:</label>
          <div class="col-sm-10">
            <select name="genre" class="form-control" required [(ngModel)]="record.genre" #genre="ngModel">
              <option *ngFor="let genre of genres" [value]="genre.genre">{{genre.genre}}</option>
            </select>
            <div [hidden]="genre.valid"
                 class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              Genre is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!recordForm.form.valid">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
